<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main/main.css">
    <style>
        {{#if menu}}
            #logout {
                border-radius: 0 0 5px 5px;
            }
            #logout:hover {
                padding-left: 30px;
                padding-right: 30px;
            }
        {{else}}
             #logout {
                border-radius: 0 0 5px 0;
            }
             #logout:hover {
                 padding: 5px 20px;
             }
             #main-header:has(#logout:hover) #goBack{
                 margin-left: 20px;
             }
        {{/if}}
    </style>
</head>
<body>
{{#unless login}}
    {{#unless clock}}
    <div id="main-header">
        {{#unless menu}}
        <a href="/menu" id="goBack">Powrót</a>
        {{/unless}}
        <a href="/login" id="logout">Wyloguj się</a>
    </div>
    {{/unless}}
{{/unless}}
<script>
    const backendURL = "{{{backendURL}}}";
    const test = "{{{test}}}"
    {{#unless login}}
    const token = localStorage.getItem('token');
    if (!token){
        window.location.href = '/login';
    }
    const verify = async () => {
        const response = await fetch(`{{{backendURL}}}/verify`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                token: token
            })
        })
        if (!response.ok) {
            window.location.href = '/login';
        }}
    verify();
    const logout = document.querySelector('#logout');
    logout.addEventListener('click', (e) => {
        if(!confirm("Czy na pewno chcesz się wylogować?"))
            e.preventDefault();
        else
            localStorage.setItem('token', '');
    })
    {{/unless}}

</script>
{{{body}}}
</body>
</html>